[submodule "_plugin/xtrabackup"]
	path = _plugin/xtrabackup
	url = http://github.com/AndriiNikitin/mariadb-environs-xtrabackup
[submodule "_plugin/hasky"]
	path = _plugin/hasky
	url = https://github.com/AndriiNikitin/mariadb-environs-hasky
[submodule "_plugin/docker"]
	path = _plugin/docker
	url = https://github.com/AndriiNikitin/mariadb-environs-docker
